<form class="form-horizontal" name="activationForm"
	(ngSubmit)="onSubmit(typedKey)" #activationForm="ngForm">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="key">Entrez la clef
			d'activation reçue par email</label>
		<div class="col-lg-4 col-md-6 col-sm-10">
			<input class="form-control" required type="text" id="key" name="key"
				[(ngModel)]="typedKey">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-lg-4 col-md-6 col-sm-10 alert-warning"
			*ngIf="error">{{error.errorReason}}</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-lg-4 col-md-6 col-sm-10">
			<button type="submit" class="btn btn-default" [disabled]="processing"
				[disabled]="!activationForm.form.valid">
				Activer<img [hidden]="!processing" src="img/processing.gif"
					alt="processing..." height="24px" />
			</button>
		</div>
	</div>
</form>