<form name="activationForm" (ngSubmit)="onSubmit(key)" #f="ngForm">
 <div class="form-group">
  <label for="a-key">{{LANG=='fr' ? 'Activation' : 'Activation key'}}</label> <input class="form-control" required type="text"
   id="a-key" name="a-key" placeholder="{{LANG=='fr' ? 'Entrez la clef reçue par email' : 'Enter key received by email'}}"
   [(ngModel)]="key">
 </div>
 <div *ngIf="error" class="alert alert-danger" title="{{error.code}}">{{error.reason}}</div>
 <button type="submit" class="btn btn-primary pull-right" [disabled]="!f.form.valid||inPrgs">Activer</button>
</form>