<form name="userRegistrationForm" class="form-horizontal"
	accept-charset="UTF-8" (ngSubmit)="onSubmit()"
	#registrationForm="ngForm">
	<div class="form-group">
		<label for="username">Username</label> <input name="username"
			[(ngModel)]="user.username" type="text" class="form-control"
			placeholder="username" id="username" required>
	</div>
	<div class="form-group">
		<label for="email">Email</label> <input name="email"
			[(ngModel)]="user.email" type="email" class="form-control"
			placeholder="email" id="email" required>
	</div>
	<div class="form-group">
		<label for="firstName">FirstName</label> <input name="firstName"
			[(ngModel)]="user.firstName" type="text" class="form-control"
			placeholder="FirstName" id="firstName" required>
	</div>
	<div class="form-group">
		<label for="lastName">LastName</label> <input name="lastName"
			[(ngModel)]="user.lastName" type="text" class="form-control"
			placeholder="LastName" id="lastName" required>
	</div>
	<div class="form-group">
		<label for="password">Password</label> <input name="pw1"
			[(ngModel)]="user.password" type="password" class="form-control"
			placeholder="password" id="pw1" required>
	</div>
	<div class="form-group">
		<label for="pw2">Retype Password</label><input name="pw2"
			[(ngModel)]="password2" type="password" class="form-control"
			placeholder="password" id="pw2" required>
	</div>
	<button type="submit" class="btn btn-default"
		[disabled]="!registrationForm.form.valid">Register</button>
</form>