<form *ngIf="user" name="userForm" class="form-horizontal"
	accept-charset="UTF-8" (ngSubmit)="onSubmit()" #userForm="ngForm">

	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">Username</label>
		<div class="col-lg-4 col-md-6 col-sm-10">
			<input name="username" [(ngModel)]="user.username" type="text"
				class="form-control" placeholder="username" id="username"
				required="newUser" disabled="!newUser">
		</div>
	</div>

	<div class="form-group" *ngIf="!newUser">
		<label for="activationTime" class="col-sm-2 control-label">ActivationTime</label>
		<div class="col-lg-4 col-md-6 col-sm-10">
			<span id="activationTime">{{user.activationTime}}</span>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-lg-4 col-md-6 col-sm-10">
			<input name="email" [(ngModel)]="user.email" type="email"
				class="form-control" placeholder="email" id="email"
				[required]="newUser">
		</div>
	</div>

	<div class="form-group">
		<label for="firstName" class="col-sm-2 control-label">FirstName</label>
		<div class="col-lg-4 col-md-6 col-sm-10">
			<input name="firstName" [(ngModel)]="user.firstName" type="text"
				class="form-control" placeholder="FirstName" id="firstName"
				required="newUser">
		</div>
	</div>
	<div class="form-group">
		<label for="lastName" class="col-sm-2 control-label">LastName</label>
		<div class="col-lg-4 col-md-6 col-sm-10">
			<input name="lastName" [(ngModel)]="user.lastName" type="text"
				class="form-control" placeholder="LastName" id="lastName"
				required="newUser">
		</div>
	</div>

	<div class="form-group">
		<label for="address" class="col-sm-2 control-label">Address</label>
		<div class="col-lg-6 col-md-6 col-sm-10" id="address">
			<div class="form-group">
				<label for="addressLine1" class="col-md-4 control-label">Ligne
					adresse 1</label>
				<div class="col-md-8">
					<input name="addressLine1" type="text" id="addressLine1"
						[(ngModel)]="user.address.addressLine1" ng-disabled="!editing" />
				</div>
			</div>
			<div class="form-group">
				<label for="addressLine2" class="col-md-4 control-label">Ligne
					adresse 2</label>
				<div class="col-md-8">
					<input name="addressLine2" type="text" id="addressLine2"
						[(ngModel)]="user.address.addressLine2" ng-disabled="!editing" />
				</div>
			</div>
			<div class="form-group">
				<label for="postalCode" class="col-md-4 control-label">Code
					postal</label>
				<div class="col-md-8">
					<input name="postalCode" type="text" id="postalCode"
						[(ngModel)]="user.address.postalCode" ng-disabled="!editing" />
				</div>
			</div>
			<div class="form-group">
				<label for="town" class="col-md-4 control-label">Ville</label>
				<div class="col-md-8">
					<input name="town" type="text" id="town"
						[(ngModel)]="user.address.town" ng-disabled="!editing" />
				</div>
			</div>
			<div class="form-group">
				<label for="province" class="col-md-4 control-label">Région</label>
				<div class="col-md-8">
					<input name="province" type="text" id="province"
						[(ngModel)]="user.address.province" ng-disabled="!editing" />
				</div>
			</div>
			<div class="form-group">
				<label for="state" class="col-md-4 control-label">Pays</label>
				<div class="col-md-8">
					<input name="state" type="text" id="state"
						[(ngModel)]="user.address.state" ng-disabled="!editing" />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="roles" class="col-sm-2 control-label">Roles</label>
		<div class="col-lg-4 col-md-6 col-sm-10" id="roles">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let role of user.roles">{{role}}<span
					class="glyphicon glyphicon-remove" aria-hidden="true"
					(click)="user.roles.splice(user.roles.indexOf(role),1)"></span></li>
				<li class="list-group-item"><select name="role"
					[(ngModel)]="roleName"
					(ngModelChange)="user.roles.push($event);rolename='';">
						<option *ngFor="let name of roles">{{name}}</option>
				</select></li>
				<!-- 						<button (click)="user.roles.push(roleName)">add role</button> -->
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-lg-4 col-md-6 col-sm-10">
			<div id="password">
				<input name="pw1" [(ngModel)]="user.password" type="password"
					class="form-control" placeholder="password" [required]="newUser">
				<input name="pw2" [(ngModel)]="password2" type="password"
					class="form-control" placeholder="password" [required]="newUser">
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-lg-4 col-md-6 col-sm-10">
			<button type="submit" class="btn btn-default"
				[disabled]="!userForm.form.valid">Ok</button>
		</div>
	</div>
</form>

